.josefin-sans-light {
  font-family: 'josefin-sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

.josefin-sans {
  font-family: 'josefin-sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

.josefin-sans-sb {
  font-family: 'josefin-sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

.josefin-sans-b {
  font-family: 'josefin-sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

.clickclack {
  font-family: 'click-clack', sans-serif;
  font-weight: 400 !important;
  font-style: normal;
}

.clickclack-light { 
  font-family: 'click-clack', sans-serif;
  font-weight: 300;
  font-style: normal;
}